<!DOCTYPE html>
<html>

<head>

    <title>Secret Page</title>
    <link href="../static/css/cabinet.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/cabinet.css') }}">-->

</head>

<body class="body">
    <h2>Secret Page</h2>

    <form class=" form " action="/" method="post ">
        <div class="container">
            <img src="../static/img/secret-astronaut-icon.png " alt="Avatar " class="avatar ">
        </div>

        <div class="container">
            <p>You have successfully logged in!</p>
        </div>


    </form>

</body>

</html>
