<!DOCTYPE html>
<html>

<head>

    <title>Secret Page</title>
    <link href="../static/css/invalid.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/invalid.css') }}">-->

</head>

<body class="body">
    <h2>Secret Page</h2>

    <form class=" form " action="/" method="post ">
        <div class="container">
            <img src="../static/img/oops.png " alt="Avatar " class="avatar ">
        </div>

        <div class="container">
            <p>Sorry, invalid credentials. Try again!</p>
        </div>


    </form>

</body>

</html>
